#app {
    margin: 0 auto;
    width: 98%;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.block {
    box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.15);
    text-align: center;
    padding: 2em 0 2em 0;
    margin: 0 0 2em 0;
}
.grid {
    display: grid;
}
.grid-template-columns {
    grid-template-columns: 50% 50%;
}
.item {
    text-align: center;
}
.item h1 {
    font-weight: 300;
    font-size: 1.6rem;
}
.barra-progresso {
    height: 30px;
    margin: 0 auto;
    width: 50%;
    border: 0.1em solid gray;
}
.progresso {
    background-color: green;
    max-width: 30em;
    height: 100%;
}
.barra-progresso .danger {
    background-color: red;
}
button {
    margin: 0 0.5em 0 0.5em;
}
#begin {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 0.2em;
    font-size: 1.2em;
    padding: 0.5em;
}
#begin:hover {
    background-color: cornflowerblue;
}
#atk {
    background-color: red;
    color: white;
    border: none;
    border-radius: 0.2em;
    font-size: 1.2em;
    padding: 0.5em;
}
#atk-e {
    background-color: orange;
    color: black;
    border: none;
    border-radius: 0.2em;
    font-size: 1.2em;
    padding: 0.5em;
}
#heal {
    background-color: green;
    color: white;
    border: none;
    border-radius: 0.2em;
    font-size: 1.2em;
    padding: 0.5em;
}
#give-up {
    background-color: gray;
    color: black;
    border: none;
    border-radius: 0.2em;
    font-size: 1.2em;
    padding: 0.5em;
}
.loser {
    color: red;
}
.winner {
    color: green;
}
#logs {
    max-height: 17em;
    overflow: auto;
}
.log {
    margin: 0 auto;
    width: 98%;
}
.dataLog {
    border-radius: 0.2em;
    color: white;
}